<div class="container mt-4">
  <div class="row">
    <div class="col-10 text-center">
      <h1><%= @user.username %></h1>
    </div>
  </div>
</div>

<% if logged_in? && @user == current_user %>
<div class="container mt-4">
  <div class="row">
    <div class="col-10 text-center">
      <%= link_to 'Edit your profile', edit_user_path(@user), class: "btn btn-success text-white" %>
    </div>
  </div>
</div>
<% end %>

<div class="flickr_pagination">
  <%= will_paginate @images, :container => false %>
</div>

<%= render 'images/images' %>

<div class="container mt-4">
  <div class="row">
    <div class="col-10 text-center">
      <%= link_to 'Return to all users', users_path %>
    </div>
  </div>
</div>
