<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<h1>Showing image details</h1>
<h2><%= @image.title %></h2>
<%= image_tag @image.picture.url if @image.picture? %>
<p><%= @image.description %></p>

<% if logged_in? && @image.user == current_user %>
  <%= link_to 'Edit', edit_image_path(@image), class: "btn btn-outline-success" %>
  <%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
<% end %><br>
<%= link_to 'Back', images_path, class: 'btn' %>
