<p id="notice"><%= notice %></p>

<h1>Showing image details</h1>
<h2><%= @image.title %></h2>
<%= image_tag @image.picture.url if @image.picture? %>
<p><%= @image.description %></p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
